* {
  border: none;
  border-radius: 0;
  font-family: "Symbols Nerd Font", "SauceCodePro Nerd Font Mono";
  font-weight: 500;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #cdd6f4;
}

tooltip {
  background: #181926;
  border-radius: 11px;
}

#custom-icon, #mpris, #custom-power, #custom-notification, #hyprland-submap, #backlight, #network, #clock, #battery, #pulseaudio, #cpu, #tray, #memory, #workspaces, #window {
  /* background: #181926;  */
  background-color: rgba(24, 25, 38, 0.95);
  color: #ffffff;
  padding: 0px 10px 0px 10px;
  margin: 4px 0px 0px 0px;
  border-radius: 14px;
}

#custom-icon {
    font-weight: normal;
    margin-left: 8px;
    font-size: 24px;
}

#custom-icon:hover {
    background: #1793d1;
    color: #ffffff;
}

#window {
  margin-left: 10px;
  transition: none;
}

window#waybar.empty #window {
  background: transparent;
}

#workspaces {
  margin-left: 5px;
  margin-right: 5px;
}

#workspaces button {
  color: #ffffff;
  border-radius: 50%;
  padding: 3px 4px 3px 4px;
  margin: 6px 4px 6px 4px;
}

#workspaces button.active {
  background: #eff1f5;
  color: #211a17;
}

#workspaces button:hover {
  background: #363a4f;
  color: #ffffff;
}

#workspaces button.urgent {
  background: #d20f39;
  color: #ffffff;
}

#workspaces button.urgent:hover {
  background: #363a4f;
  color: #ffffff;
}

#mpris {
	margin-right: 0px;
	transition: none;
}

#tray {
	margin-right: 0px;
	transition: none;
}

#tray menu {
  background: #181926;
  border-radius: 12px;
  font-weight: normal;
  color: #ffffff;
}

#tray menu menuitem{
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 12px;
}

#tray menu menuitem:hover {
    color: white;
    background-color: #45475a;
}

#tray window decoration {
  border-radius: 10px;
  box-shadow: none;
}

/* #clock {
  margin-right: 10px;
} */

#custom-notification {
  margin-right: 7px;
  padding-right: 6px;
  font-size: 16px;
}

#custom-power {
  margin-right: 7px;
  padding-right: 8px;
  color: #1793d1;
  /* font-size: 20px; */
}

#custom-power:hover {
  background: #e64553;
  color: #ffffff;
}
